@tailwind base;
@tailwind components;
@tailwind utilities;

/* Podstawowe style */
:root {
  --primary: #2271B1;
  --error: #D63638;
}

/* Reset i podstawowe style */
*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #cfd4dc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240 240 241);
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* Tailwind utilities */
@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  
  .text-primary {
    color: var(--primary);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .bg-error {
    background-color: var(--error);
  }
}

#root {
  height: 100vh;
} 